# Dependencies
node_modules/
.pnp
.pnp.js
package-lock.json
yarn.lock
pnpm-lock.yaml

# Testing
coverage
.nyc_output

# Production
build/
dist/
out/
.next/
.turbo/

# Misc
.DS_Store
*.log
*.pem
.env
.env.local
.env.*.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath

# OS
Thumbs.db
.DS_Store
._*

# Prisma
prisma/migrations/dev_db_*
db.sqlite
db.sqlite-journal

# Uploads
public/uploads/

# Secrets
.env.local
.env.*.local
secrets/
